body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

header {
    position: fixed;
    background: #22242A;
    padding: 20px;
    width: 100%;
    height: 30px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

tbody {
    font-size: 17px;
    font-weight: 300;
    color: #e8e8e8;
}

.tabelku {
    width: 800px;
    margin: auto;
    text-align: center;
}

.tabelb {
    width: auto;
    margin: auto;
}

.left_area span {
    color: #9f2ebb;
}

.left_area h3 {
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 900;
}

.right_area img {
    padding: 5px;
    float: right;
    margin-top: -47px;
    margin-right: 40px;
}

.sidebar {
    background: #2f323a;
    margin-top: 70px;
    padding-top: 30px;
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
}

.sidebar .profile_image {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-bottom: 10px;
}

.sidebar h4 {
    color: #ccc;
    margin-top: 0;
    margin-bottom: 20px;
}

.sidebar a {
    color: #fff;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
}

.sidebar a:hover {
    background: #9f2ebb;
}

.sidebar i {
    padding-right: 10px;
}

.content {
    margin-left: 250px;
    padding-top: 70px;
    background: url(bcg.jpg);
    background-position: center;
    background-size: cover;
    height: 125vh;
}

.box {
    width: 740px;
    margin: 0 auto;
    margin-top: 30px;
    box-shadow: 0 0.30rem 0.75rem rgba(5, 5, 5, 5);
    transition: all .3s;
    background-color: #591869;
    border: solid 5px #ea92ff;
    border-top-right-radius: 80px;
    border-bottom-left-radius: 80px;
}

.box:hover {
    background-color: #1f8a45;
    border: solid 5px #4fd47e;
    border-top-left-radius: 80px;
    border-bottom-right-radius: 80px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #22242A;
    color: #e8e8e8;
    text-align: center;
}